@import 'main';
@import 'theme-overrides';

.full-height {
  margin-top: 40vh;
  margin-bottom: 60vh;
}

.half-height {
  margin-top: 20vh;
  margin-bottom: 30vh;
}

.max-width-800 {
  max-width: 800px;
}

.margin-auto {
  margin: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.spacer {
  margin-top: 300px;
  margin-bottom: 300px;
}

.spacer-top {
  margin-top: 300px;
}

.spacer-bottom {
  margin-bottom: 300px;
}

.tag:not(body) {
  background: unset;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}