.theme-default-content:not(.custom) {
  max-width: unset !important;
}

.language-vue {
  .number {
    font-size: unset;
    background-color: unset;
    margin-right: unset;
    min-width: unset;
    padding: unset;
  }
}
